schemas/civicAddr-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  RFC 6848 — PIDF-LO civic address line extensions (cae: namespace).

  Each element is declared globally so lxml can resolve them when they appear
  as xs:any content inside ca:civicAddress (processContents="lax").
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:ietf:params:xml:ns:pidf:geopriv10:civicAddr:ext"
    elementFormDefault="qualified">

  <xs:element name="STP"  type="xs:string"/>
  <xs:element name="HNP"  type="xs:string"/>
  <xs:element name="MP"   type="xs:string"/>
  <xs:element name="PN"   type="xs:string"/>

</xs:schema>
